<h1>Your Students</h1>

<ul>
    <% @students.each do |student| %>
        <li>
            <strong><%= link_to student.name, student_path(student) %> | 
            </strong> - <%= student.age %> <%= student.gender %> 
        </li>
    <% end %>
</ul>

<%= link_to "Enroll a Student",  teacher_path(current_user) %>

<%= link_to "Delete This Student"