<h1>This is <%= @student.name %>'s Progress </h1>

<p>
  <strong>Name: </strong>
  <%= @student.name %>
</p>
<p>
  <strong>Age: </strong>
  <%= @student.age %>
</p>
<p>
  <strong>Gender: </strong>
  <%= @student.gender %>
</p>

<h1>Reports</h1>
<% @student.reports.each do |report| %>
<p> <%= report.participation %> </p>

<% end %>

<%= link_to "Return", student_path %>

<%= link_to "Add a Report", new_student_report_path(@student) %>

<% @student.reports.each do |report| %>

    <%= @report.participation %>
    <%= @report.behavior %>
    <%= @report.homework %>

<% end %>